<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- shiro 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- realm 需要自己实现处理逻辑 -->
        <!-- 单个 realm 只需要注入 realm 属性即可 -->
        <!--<property name="realm" value="defaultRealm"></property>-->
        <!-- 多 realm 配置 -->
        <property name="realms">
            <list>
                <ref bean="defaultRealm" />
            </list>
        </property>
        <!-- 缓存管理 -->
        <property name="cacheManager" ref="redisCacheManager"/>
        <!-- 会话管理 -->
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- shiro 过滤器,此处的 bean id 必须要和 web.xml 中的 shiro 过滤器保持一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- shiro 核心安全接口,必需属性 -->
        <property name="securityManager" ref="securityManager" />
        <!-- 登录链接(登录页面地址),非必需属性,默认web 根目录下的 /login.jsp 页面-->
        <property name="loginUrl" value="/login.jsp" />
        <!-- 登录成功后的跳转页面,非必需属性,不设置的话 shiro 自动跳转上次请求的路径 -->
        <property name="successUrl" value="/index.jsp" />
        <!-- 用户访问未对其授权的资源时,所显示的链接 -->
        <property name="unauthorizedUrl" value="/error/reject.jsp" />
        <!-- 过滤器集合 -->
        <property name="filters">
            <map>
                <entry key="authc" value-ref="formAuthenFilter" />
            </map>
        </property>
        <!-- 权限分配 -->
        <property name="filterChainDefinitions">
            <value>
                /login.jsp* = anon
                /error/** = anon
                /api/user/checkRole* = roles[admin]
                /api/user/checkPermission* = perms["api/user/updateUserPermission"]
                /api/user/** =authc
                /** = authc
            </value>
        </property>
    </bean>

    <!-- shiro session 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- 自定义 sessionDAO: 通过 Spring 注解注入 -->
        <property name="sessionDAO" ref="redisSessionDAO" />
        <!-- session的失效时长 60min，单位毫秒 -->
        <property name="globalSessionTimeout" value="600000"/>
        <!-- 相隔多久检查一次session的有效性   -->
        <property name="sessionValidationInterval" value="300000"/>
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
    </bean>
    <!-- shiro 生命周期管理 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 开启 Shiro 注解(eg: @RequestRoles,@RequestPermissions) -->
    <!-- 需要借助 SpringAOP 扫描使用 Shiro 注解的类,并在必要时进行安全逻辑的验证 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!-- 登录验证 filter: 通过 Spring 注解注入-->
    <!-- 自定义 Realm: 通过 Spring 注解注入-->

</beans>